{%extends "manager/base.html"%}
{%block content%}
{% load static %}

<style>
  html body div div.container table#t {
    align-content: center;
    margin: auto;
    column-span: 50px;
    width: 100%;
    text-align: center;
  }

  th {
    margin: 7px;
  }

  td {
    text-align: center;
    vertical-align: center;
    width: 100%/8;
    text-align: center;
  }

</style>
<div class="container" style="background-color: #f1f1f1;padding:10px;" >
  <hr>
  <div class="container" id="data">
    <center>
      <h5><b>Manager {{manager.personal_ID.name }} {{manager.personal_ID.surname }} </b></h5>
    </center>
    <hr>
  </div>
  <hr>
  <center>
    <h5><b>Available vehicles</b></h5>
  </center>
  <div class="container" style="background-color: #f1f1f1;padding:10px;">
    <section class="mainContent">
      <div class="container">
        <div class="row text-center mt-4">
          {% for vehicle in vehicles %}
          <div class="col-md-4 pb-1 pb-md-0" >
            <div class="card">
                <div id="{{vehicle.VIN}} div" style="display:none">
                    <form enctype="multipart/form-data" method="post" action="{% url 'addManagerVehicle' %}">{% csrf_token %}
                    {{ form.as_p }}
                    <table>
                        <tr>
                            <td>
                                <label for="date_start"><b>Starting date:</b></label>
                            </td>
                        <td>
                            <input type="date" value="" name="date_start" required>
                          </td>
                        </tr>
                        <tr><td><br></td></tr>
                        <tr>
                            <td>
                                <label for="date_end"><b>Date untill:</b></label>
                            </td>
                          <td>
                            <input type="date" value="" name="date_end" required>
                          </td>
                        </tr>
                        <tr><td><br></td></tr>
                        <input type="text" name="VIN" readonly="readonly" value="{{vehicle.VIN}}" hidden>
                        <input type="text" name="personal_ID" readonly="readonly" value="{{manager.personal_ID_id}}" hidden>
                        <tr>
                            <td></td>
                            <td>
                              <input type="submit" value="Confirm">
                            </td>
                          </tr>
                        </table>
                      </form>
                    
                    </div>
              <img class="card-img-top" src="{{vehicle.picture.url}}" alt="Card image cap" id="{{vehicle.VIN}}">
              <div class="card-body">
                <h5 class="card-title">{{vehicle.model}}</h5>
                <p class="card-text"></p>
                    <script>
                    //to działa, ale debugger się nie zna i krzyczy
                    function {{vehicle.VIN}}fun(){
                        var x = document.getElementById("{{vehicle.VIN}}");
                        var y = document.getElementById("{{vehicle.VIN}} div");
                        if (x.style.visibility === "hidden") {
                          x.style.visibility = "visible";
                          y.style.display ="none";
                        } else {
                          x.style.visibility = "hidden";
                          y.style.position = "absolute";
                          y.style.top = "15%";
                          y.style.left = "10%";
                          y.style.display ="block";
                        }
                      } 
                    </script>
                  <button class="btn btn-primary" onclick="{{vehicle.VIN}}fun()">
                    Select
                  </button>
              </div>
            </div>
          </div>
          {% if forloop.counter|divisibleby:3 %}
        </div>
        <div class="row text-center mt-4">
          {% endif %}
          {% endfor %}
        </div> 
      </div>
      {% if vehicles|length < 1 %}
        {% for i in '01234567890123123456789'|make_list %}
        <p>&nbsp;</p>
        {% endfor %}
      {% elif vehicles|length < 4 %}
        {% for i in '012345678901'|make_list %}
        <p>&nbsp;</p>
        {% endfor %}
      {% elif vehicles|length < 7 %}
        {% for i in '01'|make_list %}
        <p>&nbsp;</p>
        {% endfor %}
        {% else%}  
        <p>&nbsp;</p>
      {% endif %}
    </section>
  <div class="container">
    <div class="row"></div>
  </div>

</div>
{%endblock content%}