{%extends "manager/base.html"%}
{%block content%}
{% load static %}
<!--Pokazuje plady z js, ale działa-->
<style>

  input{
     width:40% 
  }
</style>
<script type="text/javascript">
    function peopleToggle() {
    var x = document.getElementById("ppl");
    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
  } 
  function vehicleToggle() {
    var x = document.getElementById("vhlcls");
    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
  } 
  </script>
<div style="padding:10px;"></div>
<div class="container" style="background-color: #f1f1f1;padding:10px;" >
  <hr>
  <div class="container" style="background-color: #f1f1f1;padding:10px;">
    <div class="container">
      <center>
        <h5><b>New Manager</b></h5>
      </center>
      <hr>
      <table id="forms" align="left" width="100%">
        <tr>
          <td>
            <button class="btn btn-primary" onclick="peopleToggle()">Show/hide Suitable people</button>
          </td><td>
            <button class="btn btn-primary" onclick="vehicleToggle()">Show/hide Available vehicles</button>
          </td>
        </tr>
      </table>
      <br>
      </div>
      <div class="container">
      <br>
      <hr>

      <table margin="0" id="t">
        <tr>
          <form enctype="multipart/form-data" method="post" action="newManager">{% csrf_token %}
        </tr><tr>
            <td>
                <label for="id"><b>Personal id: </b></label>
            </td>
            <td>
              <input type="number" id="selectID" placeholder="Choose Person" value="{{ selPerson }}" name="personal_ID" readonly="readonly" required>
            </td>
        </tr><tr>
            <td>
                <label for="date_start"><b>Starting date: </b></label>
            </td>
            <td>
              <input type="date" placeholder="starting date" value="{{ record.date_start|date:"Y-m-d" }}" name="date_start" required>
            </td>
        </tr><tr>
            <td>
                <label for="date_end"><b>Date untill: </b></label>
            </td>
            <td>
              <input type="date" placeholder="date untill" value="{{ record.date_end|date:"Y-m-d" }}" name="date_end"  required>
            </td>
        </tr><tr>
            <td>
                <label for="VIN"><b>Car vin: </b></label>
            </td>
            <td>
              <input type="text" id="selectVIN" placeholder="Choose vehicle" value="{{ selVehicle }}" name="VIN" readonly="readonly" required>
            </td>
        </tr><tr>
            <td><input type="reset" class="btn btn-primary" value="Reset"></td>
            <td><input type="submit" class="btn btn-primary" value="Confirm"></td></tr>
          </form>
        </tr>
      </table>
    </div>
    <hr>
  <div class="container">
    <div class="row"></div>
    <div class="container" id="ppl">
        <center>
          <h5><b>Potential manager list</b></h5>
        </center>
        <hr>
        <table margin="0" id="t" class="table">
          <tr>
            <th>Personal ID</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Details/Edit</th>
          </tr>
          {% for manager in potentialManagers %}
          <tr>
            <form enctype="multipart/form-data" method="post" action="{% url 'addManager' %}">{% csrf_token %}
              <td>
                {{manager.ID }}
                <input type="number" placeholder="xD" value="{{ manager.ID }}" name="selectedID" readonly="readonly" hidden required>
              </td>
              <td>
                {{manager.name }}
                <input type="text" placeholder="N/A" value="{{ manager.n }}" name="name" disabled hidden required>
              </td>
              <td>
                {{manager.surname }}
                <input type="text" placeholder="N/A" value="{{ manager.surname }}" name="surname" disabled hidden required>
              </td>
              <td><input type="button" onclick="document.getElementById('selectID').value={{ manager.ID }}" class="btn btn-primary" value="Select"></td>
            </form>
          </tr>
          {% endfor %}
        </table>
  </div>
  
  <hr>
  <div class="container" id="vhlcls">
    <center>
        <h5><b>Available vehicles list</b></h5>
      </center>
      <hr>
    <table margin="0" id="t" class="table">
        <thead class="thead-dark">
      <tr>
        <th>VIN</th>
        <th>Picture</th>
        <th>Brand</th>
        <th>Version</th>
        <th>Model</th>
        <th>Number plate</th>
        <th>select</th>
        </thead>
      </tr>
      {% for vehicle in vehicles %}
      <tr>
        <form enctype="multipart/form-data" method="post" action="{% url 'addManager' %}">{% csrf_token %}
          <td>
            {{vehicle.VIN }}
            <input type="text" placeholder="xD" value="{{ vehicle.VIN }}" name="selectedVIN" readonly="readonly" hidden required>
          </td>
          <td>
            <img src="{{vehicle.picture.url}} " alt="Card image cap" width="100%" height="100px">
            <input type="file" placeholder="Upload picture" name="picture" disabled hidden required>
          </td>
          <td>
            {{vehicle.brand }}
            <input type="text" placeholder="Login" value="{{ vehicle.brand }}" name="brand" disabled hidden required>
          </td>
          <td>
            {{vehicle.version }}
            <input type="text" placeholder="N/A" value="{{ vehicle.version }}" name="version" disabled hidden required>
          </td>
          <td>
            {{vehicle.model }}
            <input type="text" placeholder="N/A" value="{{ vehicle.model }}" name="model" disabled hidden required>
          </td>
          <td>
            {{vehicle.plate_number }}
            <input type="text" placeholder="N/A" value="{{ vehicle.plate_number }}" name="plate_number" disabled hidden required>
          </td>
          <td><input type="button" onclick="document.getElementById('selectVIN').value={{ vehicle.VIN }}" class="btn btn-primary" value="Select"></td>
        </form>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
{%endblock content%}