{%extends "manager/base.html"%}
  {%block content%}
  {% load static %}
  <hr>
  <div>
    <form method="post" enctype="multipart/form-data">{% csrf_token %}
      {{ form.as_p }}
      <div style="padding:10px;"></div>
      <div class="container" style="background-color: #f1f1f1;padding:10px;">
        <center>
          <h5><b>Service addition</b></h5>
        </center>
        <hr>
        <table id="form" align="left" width="70%">
          <tr>
            <td>
              <label for="vin"><b>VIN</b></label>
            </td>
            <td>
              <input type="text" placeholder="Enter VIN" name="vehicle_id" required>
            </td>
          </tr>
          <tr>
            <td>
              <label for="cost"><b>Cost</b></label>
            </td>
            <td>
              <input type="number" placeholder="Enter Cost" name="cost" required>
            </td>
          </tr>
          <tr>
            <td>
              <label for="date"><b>Date</b></label>
            </td>
            <td>
              <input type="date" id="date" placeholder="Enter Date" name="date" >
              <script>
                document.getElementById('date').value = new Date().toISOString().substring(0, 10);
              </script>
            </td>
          </tr>
          <tr>
            <td>
              <label for="provider"><b>Service provider</b></label>
            </td>
            <td>
              <input type="text" placeholder="Enter provider" name="provider" required>
            </td>
          </tr>
          <tr>
            <td style="padding-right:20px">
              <label for="status"><b>Status</b></label>
            </td>
            <td>
              <select placeholder="Enter Status" name="status" disabled>
                <option value="performed">Performed</option>
                <option value="booked">Booked</option>
                <option value="requested">Requested</option>
              </select>
            </td>
          </tr>
          <tr>
            <td>
              <label for="service_performed"><b>Service performed</b></label>
            </td>
            <td>
              <textarea placeholder="Enter Performed service" name="service_performed" required></textarea>
            </td>
          </tr>
          <tr>
            <td>
              <button type="submit">Submit</button>
            </td>
          </tr>
        </table>
        <label>
          <input type="checkbox" checked="checked" name="cirograph" required> I agree to suffer the consequences for any
          error
        </label>
      </div>
      <div class="container" style="background-color:#f1f1f1">
        <input type='reset' value='Cancel' name='reset'>
      </div>
    </form>
  </div>
  {%endblock content%}