{%extends "manager/base.html"%}
  {%block content%}
  {% load static %}
  <div>
    <div style="padding:10px;"></div>
    <div class="container" style="background-color: #f1f1f1;padding:10px;">
      <center>
        <h5><b>Admin Panel</b></h5>
      </center>
      <hr>
      <table id="form" align="left" width="70%">
        <tr>
          <td>
            <label for="addper"><b>Personnel addition</b></label>
          </td>
          <td>
            <a href="{% url 'addPerson' %}" class="btn btn-secondary">Add Person</a>
          </td>
        </tr>
        <tr>
          <td>
            <label for="addveh"><b>Vehicle addition</b></label>
          </td>
          <td>
            <a href="{% url 'addVehicle' %}" class="btn btn-secondary">Add Vehicle</a>
          </td>
        </tr>
        <tr>
          <td>
            <label for="service"><b>Service manager</b></label>
          </td>
          <td>
            <a href="{% url 'addService' %}" class="btn btn-secondary">Add Service</a>
          </td>
        </tr>
        <tr>
          <td>
            <label for="serviceplan"><b>Serviceplan Manager</b></label>
          </td>
          <td>
            <a href="{% url 'addServiceplan' %}" class="btn btn-secondary">Serviceplan</a>
          </td>
        </tr>
        <tr>
          <td>
            <label for="manman"><b>Manager Manager</b></label>
          </td>
          <td>
            <a href="{% url 'managerManager' %}" class="btn btn-secondary">Manage Managers</a>
          </td>
        </tr>
        <tr>
          <td>
            <label for="edper"><b>Personnel edition</b></label>
          </td>
          <td>
            <a href="{% url 'editPersonel' %}" class="btn btn-secondary">Edit Person</a>
          </td>
        </tr>
        <tr>
          <td>
            <label for="addveh"><b>Vehicle edition</b></label>
          </td>
          <td>
            <a href="{% url 'editVehicle' %}" class="btn btn-secondary">Edit Vehicle</a>
          </td>
        </tr>
        <tr>
          <td>
            <label for="eservice"><b>Service edit</b></label>
          </td>
          <td>
            <a href="{% url 'editService' %}" class="btn btn-secondary">Edit Service</a>
          </td>
        </tr>
        <tr>
          <td>
            <label for="eserviceplan"><b>Serviceplan edit</b></label>
          </td>
          <td>
            <a href="{% url 'editServiceplan' %}" class="btn btn-secondary">Edit serviceplan</a>
          </td>
        </tr>
        <tr>
          <td>
            <label for="generateReport"><b>Generate Report</b></label>
          </td>
          <td>
            <a href="{% url 'generateReport' %}" class="btn btn-secondary">Generate</a>
          </td>
        </tr>
      </table>
    </div>
    <div class="container" style="background-color:#f1f1f1">
      <p style="color:#f1f1f1">aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
    </div>
  </div>
  {%endblock content%}