{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>FleetManager</title>
  <link href="{% static 'manager/css/bootstrap-4.4.1.css' %}" rel="stylesheet">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#">FleetManager</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          {%if user == 'person'%}
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'fleetManager' %}">Home <span class="sr-only">(current)</span></a>
          </li>
          {%endif%}
          {%if user == 'person' or user == 'admin'%}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'allVehicles' %}">All vehicles</a>
          </li>
          {%endif%}
          {%if user == 'person'%}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="{% url 'yourVehicles' %}" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">Your vehicles</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          {%endif%}
          {%if user == 'admin'%}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'adminPanel' %}">Admin panel</a>
          </li>
          {%endif%}
          {%if user == 'person' or user == 'manager' or user == 'admin'%}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Logout</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
            {%if user == 'person'%}user: 
            {%elif user == 'manager'%}manager:
            {%elif user == 'admin'%}admin:
            {%endif%}
            {{name}}</a>
          </li>
          {%endif%}
        </ul>
      </div>
    </div>
  </nav>
  <div id="mainWrapper">
    <section id="offer">
      <h2>
        <center></center>
      </h2>
    </section>
    <div id="content">
      <section class="sidebar">
        <!-- This adds a sidebar with 1 searchbox,2 menusets, each with 4 links -->
        <form method="GET" action="{% url 'allVehicles' %}">
        <input type="text" id="search" placeholder="search" name="search">
      </form>
        <div id="menubar">
          <nav class="menu">
            <h2>
              <!-- Title for menuset 1 -->PASSENGER CARS AND VANS
            </h2>
            <hr>
            <ul>
              <li><a href="{% url 'VehicleFilter' otype='sedan' %}" title="Link">Sedan</a></li>
              <li><a href="{% url 'VehicleFilter' otype='wagon' %}" title="Link">Wagon</a></li>
              <li><a href="{% url 'VehicleFilter' otype='hatchback' %}" title="Link">Hatchback</a></li>
              <li><a href="{% url 'VehicleFilter' otype='van' %}" title="Link">Van</a></li>
              <li><a href="{% url 'VehicleFilter' otype='pickup' %}" title="Link">Pickup</a></li>
              <li><a href="{% url 'VehicleFilter' otype='other' %}" title="Link">Other</a></li>
            </ul>
          </nav>
          <nav class="menu">
            <h2>TRUCKS AND SPECIALIZED VEHICLES</h2>
            <hr>
            <ul>
              <li><a href="{% url 'VehicleFilter' otype='truck' %}" title="Link">Trucks</a></li>
              <li><a href="{% url 'VehicleFilter' otype='construction' %}" title="Link">Construction</a></li>
              <li><a href="{% url 'VehicleFilter' otype='agriculture' %}" title="Link">Agriculture</a></li>
              <li><a href="{% url 'VehicleFilter' otype='storage' %}" title="Link">Storage</a></li>
              <li><a href="{% url 'VehicleFilter' otype='other' %}" title="Link">Other</a></li>
            </ul>
          </nav>
        </div>
      </section>
      <section class="mainContent">
        <div class="container">
          <div class="row text-center mt-4">
            {% for vehicle in vehicles %}
            <div class="col-md-4 pb-1 pb-md-0" >
              <div class="card">
                <img class="card-img-top" src="{{vehicle.picture.url}} " alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">{{vehicle.model}}</h5>
                  <p class="card-text">&nbsp;</p>
                  <form action="{% url 'selectedVehicleView' %}" method="post">
                    <input type="hidden" name="VIN" readonly="readonly" value={{vehicle.VIN}}>
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">
                    {%if user != 'admin'%}Rent
                    {%else%}Inspect
                    {%endif%}
                    </button>
                  </form>
                </div>
              </div>
            </div>
            {% if forloop.counter|divisibleby:3 %}
          </div>
          <div class="row text-center mt-4">
            {% endif %}
            {% endfor %}
          </div> 
        </div>
        {% if vehicles|length < 1 %}
          {% for i in '01234567890123123456789'|make_list %}
          <p>&nbsp;</p>
          {% endfor %}
        {% elif vehicles|length < 4 %}
          {% for i in '012345678901'|make_list %}
          <p>&nbsp;</p>
          {% endfor %}
        {% elif vehicles|length < 7 %}
          {% for i in '01'|make_list %}
          <p>&nbsp;</p>
          {% endfor %}
          {% else%}  
          <p>&nbsp;</p>
        {% endif %}
      </section>
    </div>
    <footer>
      <div>
        <address>
          <strong>FleetManager, Inc.</strong><br>
          Akademicka 1<br>
          Gliwice, 44-100<br>
          Phone: +48 123 456 789<br>
        </address>
        <address>
        <strong>FleetManager</strong><br>
          <a href="mailto:#">FleetManager@example.com</a>
        </address>
      </div>
    </footer>
  </div>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="{% static 'manager/js/jquery-3.4.1.min.js' %}"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="{% static 'manager/js/popper.min.js' %}"></script>
  <script src="{% static 'manager/js/bootstrap-4.4.1.js' %}"></script>
</body>

</html>