{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>FleetManager</title>
  <!-- Bootstrap -->
  <link href="{% static 'manager/css/bootstrap-4.4.1.css' %}" rel="stylesheet">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'fleetManager' %}">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'allVehicles' %}">All vehicles</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">Your vehicles</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Login/Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'adminPanel' %}">Admin panel</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <hr>
  <div>
    <form enctype="multipart/form-data" method="post">{% csrf_token %}
      {{ form.as_p }}
      <div style="padding:10px;"></div>
      <div class="container" style="background-color: #f1f1f1;padding:10px;">
        <center>
          <h5><b>Vehicle addition</b></h5>
        </center>
        <hr>
        <table id="form" align="left" width="70%">
          <tr>
            <td>
              <label for="vin"><b>VIN</b></label>
            </td>
            <td>
              <input type="text" placeholder="Enter VIN" name="vin" required>
            </td>
          </tr>
          <tr>
            <td>
              <label for="brand"><b>Brand</b></label>
            </td>
            <td>
              <input type="text" placeholder="Enter Brand" name="brand" required>
            </td>
          </tr>
          <tr>
            <td>
              <label for="model"><b>Model</b></label>
            </td>
            <td>
              <input type="text" placeholder="Enter Model" name="model" required>
            </td>
          </tr>
          <tr>
            <td>
              <label for="version"><b>Version</b></label>
            </td>
            <td>
              <input type="text" placeholder="Enter Version" name="version" required>
            </td>
          </tr>
          <tr>
            <td>
              <label for="acc"><b>accessories</b></label>
            </td>
            <td>
              <input type="text" placeholder="Enter Accessories" name="accessories" required>
            </td>
          </tr>
          <tr>
            <td style="padding-right:20px">
              <label for="plate"><b>Registration plate</b></label>
            </td>
            <td>
              <input type="text" placeholder="Enter Number plates" name="plate" required>
            </td>
          </tr>
          <tr>
            <td>
              <label for="current_mileage"><b>Current mileage</b></label>
            </td>
            <td>
              <input type="number" placeholder="Enter current mileage" name="current_mileage" required>
            </td>
          </tr>
          <tr>
            <td>
              <label for="purpose"><b>Purpose</b></label>
            </td>
            <td>
              <select placeholder="Enter car purpose" name="purpose" required>
                <option value="civilian">Civilian</option>
                <option value="special purpose">Special purpose</option>
              </select>
            </td>
          </tr>
          <tr>
            <td>
              <label for="manager_id"><b>Manager ID</b></label>
            </td>
            <td>
              <input type="number" placeholder="Enter Manager ID" name="manager_id" required>
            </td>
          </tr>
          <tr>
            <td>
              <label for="status"><b>Status</b></label>
            </td>
            <td>
              <select placeholder="Enter current status" name="status" required>
                <option value="operational">Operational</option>
                <option value="decommisioned">Decommisioned</option>
              </select>
            </td>
          </tr>
          <tr>
            <td>
              <button type="submit">Submit</button>
            </td>
          </tr>
        </table>
        <label>
          <input type="checkbox" checked="checked" name="cirograph" required> I agree to suffer the consequences for any
          error
        </label>


      </div>

      <div class="container" style="background-color:#f1f1f1">
        <input type='reset' value='Cancel' name='reset'>
      </div>

    </form>
  </div>

  <div class="container">
    <div class="row"></div>
  </div>
  <hr>
  <div class="container text-white bg-dark p-4">
    <div class="row">
      <div class="col-md-4 col-lg-5 col-6">
        <address>
          <strong>FleetManager, Inc.</strong><br>
          Akademicka 1<br>
          Gliwice, 44-100<br>
          Phone: +48 123 456 789<br>
        </address>
        <address>
          <strong>FleetManager</strong>
          <br>
          <a href="mailto:#">FleetManager@example.com</a>
        </address>
      </div>
    </div>
  </div>
  <footer class="text-center">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <p>&nbsp;</p>
        </div>
      </div>
    </div>
  </footer>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="{% static 'manager/js/jquery-3.4.1.min.js' %}"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="{% static 'manager/js/popper.min.js' %}"></script>
  <script src="{% static 'manager/js/bootstrap-4.4.1.js' %}"></script>
</body>

</html>