{%extends "manager/base.html"%}
{%block content%}
{% load static %}

<style>
  html body div div.container table#t {
    align-content: center;
    margin: auto;
    column-span: 50px;
    width: 100%;
    text-align: center;
  }

  ;

  th {
    margin: 7px;
  }

  td {
    text-align: center;
    vertical-align: center;
    width: 100%/10;
    text-align: center;
  }

  ;
</style>


<div style="padding:10px;"></div>
<div class="container" style="background-color: #f1f1f1;padding:10px;">
  <center>
    <h5><b>Search Person</b></h5>
  </center>
  <hr>
  <table id="forms" align="left" width="70%">
    <tr>
      <td>
        <label for="id"><b>Person ID:</b></label>
      </td>
      <td>
        <form enctype="multipart/form-data" method="post" action="{% url 'editPerson' %}">{% csrf_token %}
          {{ form.as_ps }}
          <input type="number" placeholder="Enter Id" name="ID" id="id" required>
          <input type="submit" name="searchbyid" value="Search">
        </form>
      </td>
    </tr>
    <tr>
      <td>

        <form enctype="multipart/form-data" method="post" action="{% url 'editPersonel' %}">{% csrf_token %}
          {{ form.as_ps }}
          <label for="phrase"><b>Filter by:</b></label>
          <select placeholder="Select filter" name="filter" required>
            <option value="login">Login</option>
            <option value="name">Name</option>
            <option value="surname">Surname</option>
            <option value="phone_number">Phone</option>
            <option value="position">Position</option>
            <option value="address">Address</option>
            <option value="salary">Salary</option>
            <option value="status">Status</option>
          </select>
          <input type="text" placeholder="Enter phrase" name="phrase" id="phrase">
          <input type="submit" name="search" value="Search">
        </form>

      </td>
    </tr>
  </table>
  </form>
  <br>
</div>
<div class="container" style="background-color: #f1f1f1;padding:10px;"></div>
<div class="container" style="background-color: #f1f1f1;padding:10px;">
  <hr>
  <div class="container">
    <table margin="0" id="t">
      <tr>
        <th>Person ID</th>
        <th>Login</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Phone</th>
        <th>Position</th>
        <th>Address</th>
        <th>Salary</th>
        <th>Status</th>
        <th>Edit?</th>
      </tr>
      {% for person in persons %}
      <tr>
        <form enctype="multipart/form-data" method="post" action="{% url 'editPerson' pid=person.ID %}">{% csrf_token %}
          <td>
            {{person.ID }}
            <input type="number" placeholder="xD" value="{{ person.ID }}" name="ID" disabled hidden required>
          </td>
          <td>
            {{person.login }}
            <input type="text" placeholder="Login" value="{{ person.login }}" name="login" disabled hidden required>
          </td>
          <td>
            {{person.name }}
            <input type="text" placeholder="N/A" value="{{ person.name }}" name="name" disabled hidden required>
          </td>
          <td>
            {{person.surname }}
            <input type="text" placeholder="N/A" value="{{ person.surname }}" name="surname" disabled hidden required>
          </td>
          <td>
            {{person.phone_number }}
            <input type="text" placeholder="N/A" value="{{ person.phone_number }}" name="phone_number" disabled hidden
              required>
          </td>
          <td>
            {{person.position }}
            <input type="text" placeholder="N/A" value="{{ person.position }}" name="position" disabled hidden required>
          </td>
          <td>
            {{person.address }}
            <input type="text" placeholder="N/A" value="{{ person.address }}" name="address" disabled hidden required>
          </td>
          <td>
            {{person.salary }}
            <input type="number" placeholder="N/A" value="{{ person.salary }}" name="salary" disabled hidden required>
          </td>
          <td>
            {{person.status }}
            <input type="text" placeholder="Enter current status" value="{{ person.status }}" name="status" disabled
              hidden required>
          </td>
          <td><input type="submit" class="btn btn-primary" value="Edit"></td>
        </form>
      </tr>
      {% endfor %}
    </table>
  </div>
  <div class="container">
    <div class="row"></div>
  </div>

</div>
{%endblock content%}