{%extends "manager/base.html"%}
{%block content%}
{% load static %}
<div class="container" style="background-color: #f1f1f1;padding:10px;"></div>
<div class="container" style="background-color: #f1f1f1;padding:10px;">
  <form enctype="multipart/form-data" method="post" action="">{% csrf_token %}
    {{ form.as_pe }}
    <div style="padding:10px;"></div>
    <div class="container" style="background-color: #f1f1f1;padding:10px;"></div>
    <center>
      <h5><b>Person edition</b></h5>
    </center>
    <hr>
    <input type="hidden" value="{{person.ID}}">
    <table id="form" width="70%">
      <tr>
        <td>
          <label for="login"><b>Login</b></label>
        </td>
        <td>
          <input type="text" placeholder="login" value="{{ person.login }}" name="login" required>
        </td>
      </tr>
      <tr>
        <td>
          <label for="name"><b>Name</b></label>
        </td>
        <td>
          <input type="text" placeholder="Name" value="{{ person.name }}" name="name" required>
        </td>
      </tr>
      <tr>
        <td>
          <label for="surname"><b>Surname</b></label>
        </td>
        <td>
          <input type="text" placeholder="Surname" value="{{ person.surname }}" name="surname" required>
        </td>
      </tr>
      <tr>
        <td>
          <label for="phone"><b>Phone number</b></label>
        </td>
        <td>
          <input type="text" placeholder="Phone number" value="{{ person.phone_number }}" name="phone" required>
        </td>
      </tr>
      <tr>
        <td>
          <label for="position"><b>Position</b></label>
        </td>
        <td>
          <input type="text" placeholder="Position" value="{{ person.position }}" name="position" required>
        </td>
      </tr>
      <tr>
        <td>
          <label for="address"><b>Address</b></label>
        </td>
        <td>
          <input type="text" placeholder="Address" value="{{ person.address }}" name="address" required>
        </td>
      </tr>
      <tr>
        <td style="padding-right:20px">
          <label for="salary"><b>Salary</b></label>
        </td>
        <td>
          <input type="number" placeholder="Salary" value="{{ person.salary }}" name="salary" required>
        </td>
      </tr>
      <tr>
        <td>
          <label for="status"><b>Current Status</b></label>
        </td>
        <td>
          <select placeholder="Enter current status" value="{{ person.status }}" name="status" required>
            <option value="employed">employed</option>
            <option value="discharged">discharged</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>
          <input type="submit" name="update" value="Update">
        </td>
      </tr>
    </table>
    <label>
      <input type="checkbox" checked="checked" name="cirograph" required> I agree to suffer the consequences for any
      error
    </label>
</div>
<div class="container" style="background-color:#f1f1f1">
  <input type='reset' value='Reset' name='reset'>
  <form>
    <input type='button' onclick="history.back()" value='Back' name='back'>
  </form>
</div>
</form>
{%endblock content%}