{%extends "manager/base.html"%}
{%block content%}
{% load static %}

<style>
  html body div div.container table#t {
    align-content: center;
    margin: auto;
    column-span: 50px;
    width: 100%;
    text-align: center;
  }

  ;

  th {
    margin: 7px;
  }

  td {
    text-align: center;
    vertical-align: center;
    width: 100%/10;
    text-align: center;
  }

  ;
</style>


<div style="padding:10px;"></div>
<div class="container" style="background-color: #f1f1f1;padding:10px;">
  <center>
    <h5><b>Search vehicle</b></h5>
  </center>
  <hr>
  <table id="forms" align="left" width="70%">

    <tr>
      <td>
        <form enctype="multipart/form-data" method="get" action="{% url 'editVehicles' %}">{% csrf_token %}
          {{ form.as_ps }}
          <label for="phrase"><b>Filter by:</b></label>
          <select placeholder="Select filter" name="filter" required>
            <option value="ID">Id</option>
            <option value="login">Login</option>
            <option value="name">Name</option>
            <option value="surname" default>Surname</option>
            <option value="phone_number">Phone</option>
            <option value="position">Position</option>
            <option value="address">Address</option>
            <option value="salary">Salary</option>
            <option value="status">Status</option>
          </select>
          <input type="text" placeholder="Enter phrase" name="phrase" id="phrase">
          <input type="submit" name="search" value="Search">
        </form>
      </td>
    </tr>
  </table>
  </form>
</div>
<div class="container" style="background-color: #f1f1f1;padding:10px;"></div>
<div class="container" style="background-color: #f1f1f1;padding:10px;">
  <hr>
  <div class="container">
    <table margin="0" id="t">
      <tr>
        <th>vehicle ID</th>
        <th>Picture</th>
        <th>Brand</th>
        <th>Version</th>
        <th>Model</th>
        <th>Category</th>
        <th>Accessories</th>
        <th>Number plate</th>
        <th>Mileage</th>
        <th>Purpose</th>
        <th>Marks</th>
        <th>Status</th>
        <th>Edit?</th>
      </tr>
      {% for vehicle in vehicles %}
      <tr>
        <form enctype="multipart/form-data" method="post" action="{% url 'editVehicles' %}">{% csrf_token %}
          <td>
            {{vehicle.VIN }}
            <input type="text" placeholder="xD" value="{{ vehicle.VIN }}" name="VIN" disabled hidden required>
          </td>
          <td>
            <img src="{{vehicle.picture.url}} " alt="Card image cap" width="100%" height="100px">
            <input type="file" placeholder="Upload picture" name="picture" disabled hidden required>
          </td>
          <td>
            {{vehicle.brand }}
            <input type="text" placeholder="Login" value="{{ vehicle.brand }}" name="brand" disabled hidden required>
          </td>
          <td>
            {{vehicle.version }}
            <input type="text" placeholder="N/A" value="{{ vehicle.version }}" name="version" disabled hidden required>
          </td>
          <td>
            {{vehicle.model }}
            <input type="text" placeholder="N/A" value="{{ vehicle.model }}" name="model" disabled hidden required>
          </td>
          <td>
            {{vehicle.category }}
            <input type="text" placeholder="N/A" value="{{ vehicle.category }}" name="category" disabled hidden
              required>
          </td>
          <td>
            {{vehicle.accessories }}
            <input type="text" placeholder="N/A" value="{{ vehicle.accessories }}" name="accessories" disabled hidden required>
          </td>
          <td>
            {{vehicle.plate_number }}
            <input type="text" placeholder="N/A" value="{{ vehicle.plate_number }}" name="plate_number" disabled hidden required>
          </td>
          <td>
            {{vehicle.current_mileage }}
            <input type="number" placeholder="N/A" value="{{ vehicle.current_mileage }}" name="current_mileage" disabled hidden required>
          </td>
          <td>
            {{vehicle.purpose }}
            <input type="text" placeholder="N/A" value="{{ vehicle.purpose }}" name="purpose" disabled hidden required>
          </td>
          <td>
            {{vehicle.distinctive_marks }}
            <input type="text" placeholder="N/A" value="{{ vehicle.distinctive_marks }}" name="distinctive_marks" disabled hidden required>
          </td>
          <td>
            {{vehicle.status }}
            <input type="text" placeholder="Enter current status" value="{{ vehicle.status }}" name="status" disabled
              hidden required>
          </td>
          <td><input type="submit" class="btn btn-primary" value="Edit"></td>
        </form>
      </tr>
      {% endfor %}
    </table>
  </div>
  <div class="container">
    <div class="row"></div>
  </div>

</div>
{%endblock content%}