{%extends "manager/base.html"%}
  {%block content%}
  {% load static %}
  <div class="container" style="background-color: #f1f1f1;padding:10px;"></div>
  <div class="container" style="background-color: #f1f1f1;padding:10px;">
    <form enctype="multipart/form-data" method="post">{% csrf_token %}
      {{ form.as_pe }}
      <div style="padding:10px;"></div>
      <div class="container" style="background-color: #f1f1f1;padding:10px;"></div>
        <center>
          <h5><b>Person edition</b></h5>
        </center>
      <hr>
      <table id="form" align="left" width="70%">
        <tr>
          <td>
            <label for="name"><b>Name</b></label>
          </td>
          <td>
            <input type="text" placeholder="N/A" value="{{ person.name }}" name="name">
          </td>
        </tr>
        <tr>
          <td>
            <label for="surname"><b>Surname</b></label>
          </td>
          <td>
            <input type="text" placeholder="N/A" value="{{ person.surname }}" name="surname">
          </td>
        </tr>
        <tr>
          <td>
            <label for="phone"><b>Phone number</b></label>
          </td>
          <td>
            <input type="text" placeholder="N/A" value="{{ person.phone_number }}" name="phone">
          </td>
        </tr>
        <tr>
          <td>
            <label for="position"><b>Position</b></label>
          </td>
          <td>
            <input type="text" placeholder="N/A" value="{{ person.position }}" name="position">
          </td>
        </tr>
        <tr>
          <td>
            <label for="address"><b>Address</b></label>
          </td>
          <td>
            <input type="text" placeholder="N/A" value="{{ person.address }}" name="address">
          </td>
        </tr>
        <tr>
          <td style="padding-right:20px">
            <label for="salary"><b>Salary</b></label>
          </td>
          <td>
            <input type="number" placeholder="N/A" value="{{ person.salary }}" name="salary">
          </td>
        </tr>
        <tr>
          <td>
            <label for="status"><b>Current Status</b></label>
          </td>
          <td>
            <select placeholder="Enter current status" value="{{ person.status }}" name="status">
              <option value="hired">Hired</option>
              <option value="holiday">Holiday</option>
              <option value="discharged">Discharged</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>
            <button type="submit" name="update">Update</button>
          </td>
        </tr>
      </table>
      <label>
        <input type="checkbox" checked="checked" name="cirograph" required> I agree to suffer the consequences for any
        error
      </label>
    </div>
    <div class="container" style="background-color:#f1f1f1">
      <input type='reset' value='Cancel' name='reset'>
    </div>
  </form>
  {%endblock content%}