{%extends "manager/base.html"%}
  {%block content%}
  {% load static %}
  <hr>
  <h2 class="text-center">MANAGED VEHICLE&nbsp;</h2>
  <hr>
  <center>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src={{vehicle.picture.url}} alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{vehicle.model}}</h5>
                        <p class="card-text">Brand: {{vehicle.brand}}</p>
                        <p class="card-text">VIN: {{vehicle.VIN}}</p>
                        <p class="card-text">Version: {{vehicle.version}}</p>
                        <p class="card-text">Accessories: {{vehicle.accessories}}</p>
                        <p class="card-text">Plate number: {{vehicle.plate_number}}</p>
                        <p class="card-text">Purpose: {{vehicle.purpose}}</p>
                        <p class="card-text">Distinctive marks: {{vehicle.distinctive_marks}}</p>
                        <p class="card-text">Status: {{vehicle.status}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    &nbsp;
                    <form method="post" enctype="multipart/form-data">{% csrf_token %}
                    {{ form.as_p }}
                        <div class="container">
                            <center>
                            <h5><b>Service addition</b></h5>
                            </center>
                            <hr>
                            <table id="form" align="left" width="70%">
                            <tr>
                                <td>
                                <label for="cost"><b>Cost</b></label>
                                </td>
                                <td>
                                <input type="number" placeholder="Enter Cost" name="cost" required>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                <label for="date"><b>Date</b></label>
                                </td>
                                <td>
                                <input type="date" id="date" placeholder="Enter Date" name="date" >
                                <script>
                                    document.getElementById('date').value = new Date().toISOString().substring(0, 10);
                                </script>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                <label for="provider"><b>Service provider</b></label>
                                </td>
                                <td>
                                <input type="text" placeholder="Enter provider" name="provider" required>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                <label for="service_performed"><b>Service performed</b></label>
                                </td>
                                <td>
                                <textarea placeholder="Enter Performed service" name="service_performed" required></textarea>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                <button type="submit">Submit</button>
                                </td>
                            </tr>
                            </table>
                            <input type="hidden" name="status" value="performed">
                            <input type="hidden" name="VIN" value={{vehicle.VIN}}>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src={{vehicle.picture.url}} alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{vehicle.model}}</h5>
                        {%for service in serviceplan%}
                        <p class="card-text">Service: {{service.service_performed}}</p>
                        <p class="card-text">Mileage: {{service.mileage}}</p>
                        <p class="card-text">Date: {{service.date}}</p>
                        <p class="card-text">Performed: {{service.status}}</p>
                        {%endfor%}
                    </div>
                </div>
            </div>
        </div>    
    </div>   
  </center>
  {%endblock content%}