{%extends "manager/base.html"%}
{%block content%}
{% load static %}

<style>
  html body div div.container table#t {
    align-content: center;
    margin: auto;
    column-span: 50px;
    width: 100%;
    text-align: center;
  }

  th {
    margin: 7px;
  }

  td {
    text-align: center;
    vertical-align: center;
    width: 100%/8;
    text-align: center;
  }

</style>
<div class="container" style="background-color: #f1f1f1;padding:10px;" >
  <hr>
  <div class="container" id="data">
    <center>
      <h5><b>Manager {{manager.personal_ID.name }} {{manager.personal_ID.surname }} details</b></h5>
    </center>
    <hr>
    <table margin="0" id="t">
      <tr>
        <form enctype="multipart/form-data" method="post" action="">{% csrf_token %}
            <td>
                <label for="id"><b>Manger Id</b></label>
            </td>
        <td>
            <input type="number" placeholder="xD" value="{{ manager.id }}" name="id" readonly="readonly" required>
          </td>
        </tr><tr>
            <td>
                <label for="personal_ID_id"><b>Personal Id</b></label>
            </td>
          <td>
            <input type="number" placeholder="xD" value="{{ manager.personal_ID_id }}" name="personal_ID_id" readonly="readonly" required>
          </td>
        </tr><tr>
            <td>
                <label for="name"><b>Name</b></label>
            </td>
          <td>
            <input type="text" placeholder="N/A" value="{{ manager.personal_ID.name }}" name="name" readonly="readonly" required>
          </td>
        </tr><tr>
            <td>
                <label for="surname"><b>Surname</b></label>
            </td>
          <td>
            <input type="text" placeholder="N/A" value="{{ manager.personal_ID.surname }}" name="surname" readonly="readonly" required>
          </td>
        </tr><tr>

        </form>
        </tr><tr>
          <td></td>
          <td>
            <form enctype="multipart/form-data" method="post" action="{% url 'add_manager_vehicle_view' mid=manager.personal_ID_id %}">{% csrf_token %}
            <input type="submit" name="update" value="Add new vehicle"></form></td>
      </tr>
    </table>
  </div>
  <hr>
  <center>
    <h5><b>Managed vehicles</b></h5>
  </center>
  <div class="container" style="background-color: #f1f1f1;padding:10px;">
    <section class="mainContent">
      <div class="container">
        <div class="row text-center mt-4">
          {% for vehicle in vehicles %}
          <div class="col-md-4 pb-1 pb-md-0" >
            <div class="card">
              <img class="card-img-top" src="{{vehicle.VIN.picture.url}} " alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">{{vehicle.VIN.model}}</h5>
                <p class="card-text">{{vehicle.date_start}} - {{vehicle.date_end}}</p></p>
                <form action="{% url 'selectedVehicleView' %}" method="post">
                  <input type="hidden" name="VIN" readonly="readonly" value={{vehicle.VIN_id}}>
                  {% csrf_token %}
                  <button type="submit" class="btn btn-primary">
                    Inspect
                  </button>
                </form>
              </div>
            </div>
          </div>
          {% if forloop.counter|divisibleby:3 %}
        </div>
        <div class="row text-center mt-4">
          {% endif %}
          {% endfor %}
        </div> 
      </div>
      {% if vehicles|length < 1 %}
        {% for i in '01234567890123123456789'|make_list %}
        <p>&nbsp;</p>
        {% endfor %}
      {% elif vehicles|length < 4 %}
        {% for i in '012345678901'|make_list %}
        <p>&nbsp;</p>
        {% endfor %}
      {% elif vehicles|length < 7 %}
        {% for i in '01'|make_list %}
        <p>&nbsp;</p>
        {% endfor %}
        {% else%}  
        <p>&nbsp;</p>
      {% endif %}
    </section>
  <div class="container">
    <div class="row"></div>
  </div>

</div>
{%endblock content%}