{%extends "manager/base.html"%}
  {%block content%}
  {% load static %}
  <hr>
  <h2 class="text-center">MANAGED VEHICLE&nbsp;</h2>
  <hr>
  <center>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{vehicle.brand}} {{vehicle.model}} {{vehicle.version}}</h5>
                        <p class="card-text">Brand: {{vehicle.brand}}</p>
                        <p class="card-text">VIN: {{vehicle.VIN}}</p>
                        <p class="card-text">Mileage: {{vehicle.current_mileage}}</p>
                        <p class="card-text">Status: {{vehicle.status}}</p>
                        <p class="card-text">Version: {{vehicle.version}}</p>
                        <p class="card-text">Accessories: {{vehicle.accessories}}</p>
                        <p class="card-text">Plate number: {{vehicle.plate_number}}</p>
                        <p class="card-text">Purpose: {{vehicle.purpose}}</p>
                        <p class="card-text">Distinctive marks: {{vehicle.distinctive_marks}}</p>
                        <p class="card-text">Status: {{vehicle.status}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <form method="post" enctype="multipart/form-data">{% csrf_token %}
                    {{ form.as_p }}
                        <div class="card-body">
                            <h5 class="card-title">Service addition</h5>
                            <table id="form" align="left" width="70%">
                                <tr>
                                    <td>
                                    <label for="cost"><b>Cost</b></label>
                                    </td>
                                    <td>
                                    <input type="number" placeholder="Enter Cost" name="cost" required>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                    <label for="date"><b>Date</b></label>
                                    </td>
                                    <td>
                                    <input type="date" id="date" placeholder="Enter Date" name="date" >
                                    <script>
                                        document.getElementById('date').value = new Date().toISOString().substring(0, 10);
                                    </script>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                    <label for="provider"><b>Service provider</b></label>
                                    </td>
                                    <td>
                                    <input type="text" placeholder="Enter provider" name="provider" required>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                    <label for="service_performed"><b>Service performed</b></label>
                                    </td>
                                    <td>
                                    <textarea placeholder="Enter Performed service" name="service_performed" required></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                    <button type="submit", class="btn btn-primary">Submit</button>
                                    </td>
                                </tr>
                            </table>
                            <input type="hidden" name="vehicle_id" value={{vehicle.VIN}}> 
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">            
                        <div class="card-body">
                            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="false">
                                <div class="carousel-inner">   
                                    {%for service in serviceplan%}
                                    {% if forloop.counter == 1 %}
                                    <div class="carousel-item active">
                                    {% else %}
                                    <div class="carousel-item">
                                        {%endif%}
                                        <h5 class="card-title">Serviceplan</h5>
                                        <p class="card-text">&nbsp;</p>
                                        <p class="card-text">Service: {{service.service_performed}}</p>
                                        <p class="card-text">Mileage: {{service.mileage}}</p>
                                        <p class="card-text">Date: {{service.date}}</p> 
                                        <p class="card-text">&nbsp;</p>
                                        <div class="carousel-caption d-none d-md-block"></div>  
                                        <form method="post" enctype="multipart/form-data">{% csrf_token %}
                                            {{ form.as_p }}                                      
                                            <table id="form" align="left" width="70%">
                                                <tr>
                                                    <td>
                                                    <label for="cost"><b>Cost</b></label>
                                                    </td>
                                                    <td>
                                                    <input type="number" placeholder="Enter Cost" name="cost" required>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                    <label for="date"><b>Date</b></label>
                                                    </td>
                                                    <td>
                                                    <input type="date" id="date" placeholder="Enter Date" name="date" >
                                                    <script>
                                                        document.getElementById('date').value = new Date().toISOString().substring(0, 10);
                                                    </script>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                    <label for="provider"><b>Service provider</b></label>
                                                    </td>
                                                    <td>
                                                    <input type="text" placeholder="Enter provider" name="provider" required>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                    <button type="submit" class="btn btn-primary">Perform</button>
                                                    </td>
                                                </tr>
                                            </table>
                                            <input type="hidden" name="service_performed" value="{{service.service_performed}}">
                                            <input type="hidden" name="id" value="{{service.id}}">
                                            <input type="hidden" name="vehicle_id" value={{vehicle.VIN}}> 
                                        </form>
                                    </div>
                                    {%endfor%}
                                </div>
                                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>                 
                </div>
            </div>
        </div>    
    </div>   
  </center>
  {%endblock content%}