{%extends "manager/base.html"%}
  {%block content%}
  {% load static %}
  &nbsp;
  <hr>
  <center><h1>Managed Vehicles<h1></center>
  <hr>
  &nbsp;
  <center>
  <div class="container">
    <div class="row text-center mt-4">
      {% for vehicle in vehicles %}
      <div class="col-md-4 pb-1 pb-md-0">
        <div class="card">
          <img class="card-img-top" src={{vehicle.VIN.picture.url}} alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{vehicle.VIN.model}}</h5>
            <p class="card-text">&nbsp;</p>
            <form action="{% url 'managedVehicle' %}" method="post">
              <input type="hidden" name="vehicle_id" value={{vehicle.VIN.VIN}}>
              {% csrf_token %}
              <button type="submit" class="btn btn-primary">Inspect</button>
            </form>
          </div>
        </div>
      </div>
      {% if forloop.counter|divisibleby:3 %}
    </div>
    <div class="row text-center mt-4">
      {% endif %}
      {% endfor %}
    </div>
  </div>
  </center>

  {%endblock content%}