{%extends "manager/base.html"%}
{%block content%}
{% load static %}

<style>
  html body div div.container table#t {
    align-content: center;
    margin: auto;
    column-span: 50px;
    width: 100%;
    text-align: center;
  }

  th {
    margin: 7px;
  }

  td {
    text-align: center;
    vertical-align: center;
    width: 100%/6;
    text-align: center;
  }

</style>

<script type="text/javascript">
  function managerToggle() {
  var x = document.getElementById("data");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
} 
function recordToggle() {
  var x = document.getElementById("records");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
} 
</script>
<div style="padding:10px;"></div>
<div class="container" style="background-color: #f1f1f1;padding:10px;">
  <center>
    <h5><b>Search Person</b></h5>
  </center>
  <hr>
  <table id="forms" align="left" width="70%">
    <!-- 
    <tr>
      <td>
        <label for="id"><b>Person ID:</b></label>
      </td>
      <td>
        <form enctype="multipart/form-data" method="post" action="{% url 'editPerson' %}">{% csrf_token %}
          {{ form.as_ps }}
          <input type="number" placeholder="Enter Id" name="ID" id="id" required>
          <input type="submit" name="searchbyid" value="Search">
        </form>
      </td>
    </tr>
  -->
    <tr>
      <td>
        <form enctype="multipart/form-data" method="get" action="">{% csrf_token %}
          {{ form.as_ps }}
          <label for="phrase"><b>Filter by:</b></label>
          <select placeholder="Select filter" name="filter" required>
            <option value="ID">Id</option>
            <option value="login">Login</option>
            <option value="name">Name</option>
            <option value="surname" default>Surname</option>
            <option value="phone_number">Phone</option>
            <option value="position">Position</option>
            <option value="address">Address</option>
            <option value="salary">Salary</option>
            <option value="status">Status</option>
          </select>
          <input type="text" placeholder="Enter phrase" name="phrase" id="phrase">
          <input type="submit" name="search" value="Search">
        </form>
      </td>
    </tr>
  </table>
  </form>
<button onclick="managerToggle()">Show/hide current managers</button>
<button onclick="recordToggle()">Show/hide manager records</button>
<button>New Manager</button>
</div>
<div class="container" style="background-color: #f1f1f1;padding:10px;"></div>
<div class="container" style="background-color: #f1f1f1;padding:10px;" >
  <hr>
  <div class="container" id="data">
    <center>
      <h5><b>Manager list</b></h5>
    </center>
    <hr>
    <table margin="0" id="t">
      <tr>
        <th>Personal ID</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Details/Edit</th>
      </tr>
      {% for manager in managers %}
      <tr>
        <form enctype="multipart/form-data" method="post" action="{% url 'manager_update_view' umid=manager.ID %}">{% csrf_token %}
          <td>
            {{manager.ID }}
            <input type="number" placeholder="xD" value="{{ manager.ID }}" name="ID" disabled hidden required>
          </td>
          <td>
            {{manager.name }}
            <input type="text" placeholder="N/A" value="{{ manager.n }}" name="name" disabled hidden required>
          </td>
          <td>
            {{manager.surname }}
            <input type="text" placeholder="N/A" value="{{ manager.surname }}" name="surname" disabled hidden required>
          </td>
          <td><input type="submit" class="btn btn-primary" value="View"></td>
        </form>
      </tr>
      {% endfor %}
    </table>
  </div>
  <hr>
  <div class="container" style="background-color: #f1f1f1;padding:10px;">
    <div class="container" id="records">
      <center>
        <h5><b>Manager records</b></h5>
      </center>
      <hr>
      <table margin="0" id="t">
        <tr>
          <th>ID</th>
          <th>Personal ID</th>
          <th>Start date</th>
          <th>Date untill</th>
          <th>VIN</th> 
        </tr>
        {% for record in records %}
        <tr>
          <form enctype="multipart/form-data" method="post" action="{% url 'edit_manager_record' rid=record.id %}">{% csrf_token %}
            <td>
              {{record.id }}
              <input type="number" placeholder="xD" value="{{ record.id }}" name="ID" disabled hidden required>
            </td>
            <td>
              {{record.personal_ID_id }}
              <input type="number" placeholder="xD" value="{{ record.personal_ID }}" name="ID" disabled hidden required>
            </td>
            <td>
              {{record.date_start }}
              <input type="text" placeholder="N/A" value="{{ record.date_start }}" name="date_start" disabled hidden required>
            </td>
            <td>
              {{record.date_end }}
              <input type="text" placeholder="N/A" value="{{ record.date_end }}" name="date_end" disabled hidden
                required>
            </td>
            <td>
              {{record.VIN_id }}
              <input type="text" placeholder="N/A" value="{{ record.VIN_id }}" name="VIN" disabled hidden required>
            </td>
            <td><input type="submit" class="btn btn-primary" value="Edit"></td>
          </form>
        </tr>
        {% endfor %}
      </table>
    </div>
  <div class="container">
    <div class="row"></div>
  </div>

</div>
{%endblock content%}