{%extends "manager/base.html"%}
  {%block content%}
  {% load static %}
  <div>
    <form action="action_page.php" method="post">
      <div style="padding:10px;"></div>
      <div class="container" style="background-color: #f1f1f1;padding:10px;">
        <center>
          <h5><b>Vehicle addition</b></h5>
        </center>
        <hr>
        <table id="form" align="left" width="70%">
          <tr>
            <td>
              <label for="vin"><b>VIN</b></label>
            </td>
            <td>
              <input type="text" placeholder="Enter VIN" name="vin" required>
            </td>
          </tr>
          <tr>
            <td>
              <label for="VIN"><b>Brand</b></label>
            </td>
            <td>
              <input type="text" placeholder="Enter Brand" name="brand" required>
            </td>
          </tr>
          <tr>
            <td>
              <label for="model"><b>Model</b></label>
            </td>
            <td>
              <input type="text" placeholder="Enter Model" name="model" required>
            </td>
          </tr>
          <tr>
            <td>
              <label for="version"><b>Version</b></label>
            </td>
            <td>
              <input type="text" placeholder="Enter Version" name="version" required>
            </td>
          </tr>
          <tr>
            <td>
              <label for="acc"><b>accessories</b></label>
            </td>
            <td>
              <input type="text" placeholder="Enter Accessories" name="accessories" required>
            </td>
          </tr>
          <tr>
            <td style="padding-right:20px">
              <label for="plate"><b>Registration plate</b></label>
            </td>
            <td>
              <input type="text" placeholder="Enter Number plates" name="plate" required>
            </td>
          </tr>
          <tr>
            <td>
              <label for="current_mileage"><b>Current mileage</b></label>
            </td>
            <td>
              <input type="number" placeholder="Enter current mileage" name="current_mileage" required>
            </td>
          </tr>
          <tr>
            <td>
              <label for="purpose"><b>Purpose</b></label>
            </td>
            <td>
              <input type="text" placeholder="Enter car purpose" name="purpose" required>
              </p>//to bedzie lista wyboru
            </td>
          </tr>
          <tr>
            <td>
              <label for="manager_id"><b>Manager ID</b></label>
            </td>
            <td>
              <input type="number" placeholder="Enter Manager ID" name="manager_id" required>
            </td>
          </tr>
          <tr>
            <td>
              <label for="status"><b>Status</b></label>
            </td>
            <td>
              <input type="text" placeholder="Enter current status" name="status" required>
              </p>//to tez
            </td>
          </tr>
          <tr>
            <td>
              <button type="submit">Submit</button>
            </td>
          </tr>
        </table>
        <label>
          <input type="checkbox" checked="checked" name="cirograph" required> I agree to suffer the consequences for any
          error
        </label>
      </div>
      <div class="container" style="background-color:#f1f1f1">
        <input type='reset' value='Cancel' name='reset'>
      </div>
    </form>
  </div>
  {%endblock content%}