{%extends "manager/base.html"%}
  {%block content%}
  {% load static %}

<!-- Datepicker -->
<link href='bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css' rel='stylesheet' type='text/css'>
<script src='bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' type='text/javascript'></script>
  <div>
    <form action="{% url 'reserveVehicle' %}" method="post">
      {% csrf_token %}
      <div style="padding:10px;"></div>
      <div class="container" style="background-color: #f1f1f1;padding:10px;">
        <center>
          <h5><b>Rent {{vehicle.model}} {{vehicle.brand}}</b></h5>
        </center>
        <hr>
        <table id="form" align="left" width="70%">
          <tr>
            <td>
              <label for="status"><b>Rent type</b></label>
            </td>
            <td>
              <select placeholder="Enter rent type" name="rent_type" required>
                <option value="private">Private</option>
                <option value="buisness">Buisness</option>
              </select>
            </td>
          </tr>
          <tr>
            <td>
              <label for="startDate"><b>Start Date</b></label>
            </td>
            <td>
              <input type='date'  id='fromDate' placeholder='Enter Start Date' name='rent_start'  required>
            </td>
          </tr>
          <tr>
            <td>
              <label for="endDate"><b>End Date</b></label>
            </td>
            <td>
              <input type='date'  id='toDate' placeholder='Enter End Date' name='rent_end' required>
              <input type="hidden" name="vehicle_id" value={{vehicle.VIN}}>
            </td>
          </tr>
          <tr>
            <td>
              <button type="submit">Submit</button>
            </td>
          </tr>
        </table>
        <label>
          <input type="checkbox" checked="checked" name="cirograph" required> I agree to suffer the consequences for any
          error
        </label>
      </div>
      <div class="container" style="background-color:#f1f1f1">
        <input type='reset' value='Cancel' name='reset'>
      </div>
    </form>
  </div>

  {%endblock content%}