{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>FleetManager</title>
  <!-- Bootstrap -->
  <link href="{% static 'manager/css/bootstrap-4.4.1.css' %}" rel="stylesheet">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'fleetManager' %}">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'allVehicles' %}">All vehicles</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">Your vehicles</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Login/Register</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <hr>
  <h2 class="text-center">SELECTED VEHICLE&nbsp;</h2>
  <hr>
  <center>
    <div class="card" style="padding-right: 20%; padding-left: 20%">
      <img class="card-img" width="500" height="500"
        src="{{vehicle.picture.url}} " alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{vehicle.model}}</h5>
        <p class="card-text">Brand: {{vehicle.brand}}</p>
        <p class="card-text">VIN: {{vehicle.VIN}}</p>
        <p class="card-text">Version: {{vehicle.version}}</p>
        <p class="card-text">Accessories: {{vehicle.accessories}}</p>
        <p class="card-text">Plate number: {{vehicle.plate_number}}</p>
        <p class="card-text">Purpose: {{vehicle.purpose}}</p>
        <p class="card-text">Distinctive marks: {{vehicle.distinctive_marks}}</p>
        <p class="card-text">Status: {{vehicle.status}}</p>
        <a href="{% url 'rentVehicle' %}" class="btn btn-primary">Rent</a>
      </div>
    </div>
  </center>
  <div class="container">
    <div class="row"></div>
  </div>
  <hr>
  <div class="container text-white bg-dark p-4">
    <div class="row">
      <div class="col-md-4 col-lg-5 col-6">
        <address>
          <strong>FleetManager, Inc.</strong><br>
          Akademicka 1<br>
          Gliwice, 44-100<br>
          Phone: +48 123 456 789<br>
        </address>
        <address>
          <strong>FleetManager</strong>
          <br>
          <a href="mailto:#">FleetManager@example.com</a>
        </address>
      </div>
    </div>
  </div>
  <footer class="text-center">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <p>&nbsp;</p>
        </div>
      </div>
    </div>
  </footer>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="{% static 'manager/js/jquery-3.4.1.min.js' %}"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="{% static 'manager/js/popper.min.js' %}"></script>
  <script src="{% static 'manager/js/bootstrap-4.4.1.js' %}"></script>
</body>

</html>