{%extends "manager/base.html"%}
  {%block content%}
  {% load static %}
  <hr>
  <h2 class="text-center">SELECTED VEHICLE&nbsp;</h2>
  <hr>
  <center>
    <div class="card" style="padding-right: 20%; padding-left: 20%">
      <img class="card-img" width="500" height="500"
        src="{{vehicle.picture.url}} " alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{vehicle.model}}</h5>
        <p class="card-text">Brand: {{vehicle.brand}}</p>
        <p class="card-text">VIN: {{vehicle.VIN}}</p>
        <p class="card-text">Version: {{vehicle.version}}</p>
        <p class="card-text">Accessories: {{vehicle.accessories}}</p>
        <p class="card-text">Plate number: {{vehicle.plate_number}}</p>
        <p class="card-text">Purpose: {{vehicle.purpose}}</p>
        <p class="card-text">Distinctive marks: {{vehicle.distinctive_marks}}</p>
        <p class="card-text">Status: {{vehicle.status}}</p>
        {%if user != 'admin'%}
        <form action="{% url 'rentVehicle' %}" method="post">
          <input type="hidden" name="VIN" value={{vehicle.VIN}}>
          {% csrf_token %}
          <button type="submit" class="btn btn-primary">Rent</button>
        </form>
        {%endif%}
      </div>
    </div>
  </center>
  {%endblock content%}